*{
    padding: 0;
    margin:0;
    font-family: sans-serif;
}

.html{
    height:100%;
    width:100%;
}
header{
    background-color: white;
    display:block;
    width:100%;
    
}
.header-buttons{
    width:100%;
}
body {
    background: #2e2b2b;
}

.img-container{
    position: absolute;
    width:50%;
    height: 50%;
    top:41%;
    left : 50%;
    transform: translate(-50%, -50%);
    text-align:center;
    
}

.file-upload-button, .download-section{
    margin : auto;
    font-weight: bold;
    width:120px;
    height:50px;
    padding : 4px;
    color :white;
    text-align:center;
    background-color: green;
    cursor:pointer;
    border-radius: 30px;
    border :none;
    
}

canvas{
    padding: 0;
    margin: auto;
    display: block;
    width: 800px;
    height: 600px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
   
}

.editor-wrap{
    padding-top:20px;
    background-color: antiquewhite;
    width: 100%;
    height:1000px;
}

#choose-file{display : none;} 


