*{
    padding: 0;
    margin:0;
    font-family: sans-serif;
}

html{
    height:100%;
    width:100%;
}
header{
    background-color: white;
    display:block;
    width:100%;
    
}
.header-buttons{
     width:100%; 
}
body {
    background: #2e2b2b;
}

.file-upload-button, .download-section, .json-file-upload-button{
    margin : auto;
    font-weight: bold;
    width:120px;
    height:50px;
    padding : 4px;
    color :white;
    text-align:center;
    background-color: green;
    cursor:pointer;
    border-radius: 30px;
    border :none;
    
}

canvas{
    width:80%;
    position:absolute; 
    top:0;
    bottom:0;right:0;left:0; 
   border:2px solid black;
}
   



.editor-wrap{
    width:100%;
    padding-top:20px;
    background-color: antiquewhite;
    
    height:1000px;
    text-align: center;  
    
    position:relative;   
}

#choose-file{display : none;} 
#choose-json-file{display:none;}

