.editorHeader{
    justify-content: center;
    align-items: center;
    visibility: visible;
    white-space: nowrap;

    position: relative;
    top:0;
    z-index: 50;

    height: 100px;
    width: 100%;
    background-color: #202020;

    display:flex;

    box-sizing: border-box; /*테두리포함 크기로 계산*/

    flex-grow: 0;
}
.editorHeader input[type="file"]{
    display: none;
}
