.layout{
    position: fixed;
    top: 80px; /*header 크기만큼 */
    left:0;
    bottom: 0;
    right: 0;
    width:100%;
    height:100%;
    display: flex;
}
.center{
    position: relative;
    width: calc(100% - 150px);/*rightsidebar 크기 빼기*/
    height: 100%;
    z-index: 99;
    background-color: gray;
    overflow: hidden;
}
.mainContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: calc(100% - 260px);/*footbar+header+title크기만큼*/
    width: 100% ;
}