html, body{
    margin:0;
    padding:0;
    height:100%;
}

.layout{
    position: fixed;
    top: 80px; /*header 크기만큼 */
    left:0;
    bottom: 0;
    right: 0;
    width:100%;
    height:100%;
    display: flex;
}
.center{
    display:flex;
    /* justify-content: center; */
    position: relative; /* 이거 도움이되나? */
    width: calc(100% - 150px);
    z-index: 99;
    background-color: gray;
    overflow: hidden;
}
.mainContainer{
    /* display: flex; */
    /* justify-content: center;  */
    /* align-items: center; */
    position: relative;
 

}   