body{
    background-color: antiquewhite;
}


/* .file-upload-button, .download-section, .json-file-upload-button{
    margin : auto;
    font-weight: bold;
    width:120px;
    height:50px;
    padding : 4px;
    color :white;
    text-align:center;
    background-color: cadetblue;
    cursor:pointer;
    border-radius: 30px;
    border :none;
} */

#import-image-file{display : none;} 
#add-image-file {display:none;}
#Deserialization-json-file{display:none;}
#add-local-image-file{display:none;}
.wrap{
    text-align: center;
    width : 1000px;
    height :500px;
    background-color: #f3f3f3;
    margin-left: 200px;
}

canvas{
    margin: 50px 100px
}