.container{
  overflow-y: auto;
  height:calc(100vh - 150px);/*임의로 준값*/
}
.container::-webkit-scrollbar {
  display: none;
}
.detail{
    box-sizing: border-box;
    /* border: 2px solid #202020; */
    width:200px; /*가로 size*/
    /* padding: 10px; 칸 각각 height */
    left:0px;
    margin: 0px;
    color: white;
    user-select: none;/*더블클릭시 파란색 없애기*/
    z-index: -1;
  }
.detail summary{
  text-align: center;
  vertical-align: middle;
  font-size: 15pt;
  /* font-weight: bold; */
  border-top: 2px solid gray; 
  height: 35px;
  border-radius: 5px;

}
.detail summary:hover{/*details위에 마우스를 갖다 댔을때*/
  background-color: gray;
  cursor: pointer;
  transition: 0.3s ;
}
.detail summary:focus{/*클릭했을때 기본 윈도우의 파란색잔상 안보이게*/
  outline:none;
}

.detail p{
  display:flex;
  align-content: space-between;
  justify-content: space-between;
  margin: 10px 15px 10px 15px;/*상자 끝에서 좀 띄워줌*/

}
.detail label{
  font-size: 12pt;
  font-weight: bold;
}
.detail input[type="text"]{
  width:50px;
  box-sizing: border-box;
  color:gray;
  outline-style: none;
  padding-left: 5px;
  border-radius: 5px;
}
.detail input[type="color"]{
  width:50px;
  border:none;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 5px;
}
.detail input[type="range"]{
  width:150px;
  cursor: pointer;
}
.detail ul{
  display:flex;
  /* border-top: 2px solid #202020; */
  margin:auto; /*상자 위아래 거리*/
  list-style: none;
  padding-left: 0;/*들여쓰기 없애기*/
  align-content: center;
  justify-content: flex-start;/*spacebetween 말고*/
  margin: 10px 15px 10px 15px;
} 
.effectContainer{
  display: flex;
  border-top: 3px solid #202020;
  flex-direction: column;
  align-items: center;/*가운데 정렬*/
  background-color: #202020;
  border-radius: 5px;
  margin: 10px 15px 10px 15px;
}
.detail label input[type="file"]{
  display:none;
  margin: 0;
}

