.detail{
    box-sizing: border-box;
    border: 2px solid #202020;
    width:200px; /*가로 size*/
    padding: 8px; /*칸 각각 height*/
    left:0px;
    margin:0;
    
  }
.detail summary:hover{/*details위에 마우스를 갖다 댔을때*/
background-color: #fff;
box-shadow: inset 1px 0 #ddd, inset -1px 0 #ddd;
cursor: pointer;
}
.detail p:hover{/*TODO: summary랑 묶기*/
background-color: #fff;
box-shadow: inset 1px 0 #ddd, inset -1px 0 #ddd;
cursor: pointer;
}
