.container{
    /* height: calc(100vh - 240px);크기조정, footbar 고정 */
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

