.footbar{
    height:80px;
    margin-top:auto;
    background-color: #202020;
    position: absolute;/*zoom기능할거면 absolute가 맞겠지?*/
    bottom: 80px;/*height만큼*/
    width:100%;

    flex-grow: 0;
}
.contents{
    width:100%;
    height:100%;
    display:flex;
    align-items: center; /* 세로축 정렬*/
    justify-content:center; /* 가로축 정렬*/
    margin: 0 auto; /*auto:오른쪽 왼쪽 여백(margin)이 동일하도록*/

}
.title{
    font-weight: 600;
    font-size: 20px;
}