.container {
    background-color: #ccf711;
    display:flex;
    flex-direction: column;
    outline:none;
    overflow-y: auto;
    align-items: center;
    
    position: relative;
    width: 150px;
    /* top: 80px; */
    /* bottom: 0; */
    right: 0px;
    height: 100vh;
    z-index: 99;
}
.container::-webkit-scrollbar {
  display: none;
}
.title{
  /* position:relative; */
  height: 50px;
  border: 2px solid gray;
  text-align: center;
  /* top:-15px; */
  width:100%;
}
.addItem{
  margin: 5px 15px 5px 15px;
  border: 2px solid gray;
  box-sizing: border-box;
  width: 100px;
  height: 60px;
  align-items: center;
  justify-content: center;
}
.Icon{
  height:80px;
}
