.container {
  background-color: #161616;
  position: relative;/*있어야 밀림*/
  top: 0;
  bottom: 0;
  left: 0;
  height: calc(100vh - 80px);
  z-index: 50;
  display:flex;
}

.icon{
font-size: 20pt; 
margin: 0; 
left:0px;
display: block;
border: 2px solid #202020;
padding: 5px;
width:45px;
box-sizing: border-box;

}

.content {
position: absolute;
left:0px;
white-space: nowrap; /*글이 재정렬되면서 밑으로 내려가지 않도록*/
-webkit-overflow-scrolling: touch;
}


/* 서브메뉴 */

.SubmenuWrap{
  /* display:none; */
}

.Submenu {
  display:none;
  box-sizing: border-box;
  /* border: 2px solid #202020; */
  width: 200px;
  /*가로 size*/
  /* padding: 10px; 칸 각각 height */
  left: 0px;
  margin: 0px;
  color: white;
  user-select: none;
  /*더블클릭시 파란색 없애기*/
  /* z-index: -1; */
}

.Title {
  padding: 5px;
  text-align: center;
  background-color: gray;
  border-radius: 5px;
}

.Submenu p {

  display: flex;
  align-content: space-between;
  justify-content: space-between;
  margin: 10px 15px 10px 15px;
  /*상자 끝에서 좀 띄워줌*/

}

.Submenu label {
  font-size: 12pt;
  /* font-weight: bold; */
}

.Submenu input[type="text"] {
  width: 50px;
  box-sizing: border-box;
  color: white;
  outline-style: none;
  padding-left: 5px;
  border-radius: 5px;
  background-color: #202020;
  border-color: #202020;
}

.Submenu input[type="color"] {
  width: 50px;
  margin: 0;
  padding: 0;
  cursor: pointer;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #202020;
  outline-style: none;
  /* text의 움푹들어간 effect흉낸내는 부분 */
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: none;
  border-bottom: none;
}

/* 내부칼라 만지는 부분 */
.Submenu input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 5px;
  padding: 0;
}

.Submenu input[type="range"] {
  width: 150px;
  height: 18px;
  cursor: pointer;
  -webkit-appearance: none;
  user-select: none;
  background-color: #202020;
  outline: none;
}

.Submenu input[type="range"]::-webkit-slider-runnable-track {
  border: none;
  border-radius: 5px;
  height: 7px;
  background: #666565;
  user-select: none;
}

.Submenu input[type="range"]::-webkit-slider-thumb {
  border: 1px solid #666565;
  height: 15px;
  width: 20px;
  border-radius: 5px;
  background: #161616;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4px;
}

.Submenu select {
  /* width:80px; */
  cursor: pointer;
  background-color: #202020;
  border-top: 2px solid black;
  border-left: 2px solid black;
  border-right: none;
  border-bottom: none;
  color: white;
  list-style: none;
  border-radius: 5px;
}

.Submenu ul {
  display: flex;
  /* border-top: 2px solid #202020; */
  margin: auto;
  /*상자 위아래 거리*/
  list-style: none;
  padding-left: 0;
  /*들여쓰기 없애기*/
  align-content: center;
  justify-content: flex-start;
  /*spacebetween 말고*/
  margin: 10px 15px 10px 15px;
}

.Submenu ul li {
  margin: 5px;
}

.Submenu label input[type="file"] {
  display: none;
  margin: 0;
}

.Submenu button {
  outline: none;
  cursor: pointer;
  border: 0;
  width: 50px;
  height: 20px;
  border-radius: 5px;
  background-color: #666565;
  user-select: none;
  color: #161616;
  font-weight: bold;
}

.Submenu button:hover {
  background-color: white;
  box-shadow: inset 1px 0 #ddd, inset -1px 0 #ddd;
  transition: 0.3s;
}

.effectContainer {
  display: flex;
  border-top: 3px solid #202020;
  flex-direction: column;
  align-items: center;
  /*가운데 정렬*/
  background-color: #202020;
  border-radius: 5px;
  margin: 10px 15px 10px 15px;
}

.effectContainer button {
  width: 80px;
  margin: 3pt 0 3pt 0;
}